<div class="user-form">
  <h1>Account</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <h3>Your API key:</h3>
    <input type="text" value="<%= resource.api_key %>">

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div>
      <%= f.label :username %><br />
      <%= f.text_field :username, autocomplete: "off", placeholder: 'username' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div class="field" style="margin-top:10px;">
      <%= f.check_box :newsletter %><%= f.label :newsletter, 'Get email updates' %>
      <br><i style="font-size:11px">(Important for getting notifications about new/revised features)</i>
    </div>

    <div><%= f.submit "Update" %></div>
  <% end %>

  <h3 style="margin-top: 100px;">Delete my account</h3>

  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure? This will delete your account and any sheets you've created." }, method: :delete %>

</div>