<!DOCTYPE html>
<html>
<head>
  <title>flatsheet</title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <h1 class="site-title"><a href="/"><i class="fa fa-table" style="font-size:80%; margin-right:3px;"></i> flatsheet</a></h1>
    <ul class="main-nav">
      <% if user_signed_in? && current_user.is_admin? %>
        <li><a href="/admin">admin</a></li>
      <% end %>
      <% if user_signed_in? %>
        <li><%= link_to 'dashboard', root_path %></li>
        <li><%= link_to 'account', account_path %></li>
      <% end %>
      <li><a href="/documentation">documentation</a></li>
      <% if user_signed_in? %>
        <li><a href="/#new">new sheet</a></li>
        <li>
        <%= link_to('sign out', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
        <%= link_to('sign in', new_user_session_path)  %>  
        </li>
        <li>
        <%= link_to('create account', new_user_registration_path)  %>  
        </li>
      <% end %>
    </ul>
  </div>
</header>

<main role="main">
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer>
  <div class="container">
    <h5></h5>
  </div>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>
